<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--360浏览器优先以webkit内核解析-->
    <title>欢迎使用物证管理系统</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/animate.min.css" th:href="@{/css/main/animate.min.css}" rel="stylesheet"/>
    <link href="../static/css/main/style.min862f.css" th:href="@{/css/main/style.min862f.css}" rel="stylesheet"/>
</head>

<body class="gray-bg">
<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-12">
        <blockquote class="text-warning" style="font-size:14px">
            作者·天津工业大学·张肖雅
            <br><a target="_blank" href="http://www.tjpu.edu.cn/">天津工业大学</a>
            <h4 class="text-danger">基于J2EE的物证管理系统</h4>
            <h4 class="text-danger">高效</h4>
        </blockquote>

        <hr>
    </div>

    <div class="col-sm-4">
        <h4>技术选型：</h4>
        <ol>
            <li>物证是《刑事诉讼法》规定的证据的七种法定表现形式之一，在立案时就产生，直至案件终结并处理才消失。</li>
            <li>物证在此过程中保全保管方法方式的规范性直接关系到物证及其鉴定结论的合法性</li>
            <li>因此，公安物证管理工作是刑事科学技术工作的重要一环，是保证司法诉讼公正性和合法性的必要条件。 </li>
            <li>国内外因物证管理不善给刑事案件审判带来不利后果的事件时有发生。影响政府公信力，甚至引发群体性事件。</li>
            <li>2013年公安部全国执法规范化现场会工作要求，全面提升刑事科学技术工作规范化、现代化、信息化建设水平。</li>
            <li>“各地必须建立规范的物证室，对物证进行分类保管，使物证件件有登记、个个有着落，特别是命案物证要长期妥善保存”</li>
            <li>。在关于打好“科技战”中要求，全国公安机关“要重点加强物证保管室等基础建设”。</li>
            <li>更多……</li>
        </ol>
    </div>

</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
</body>
</html>
