<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            物证编号：<input type="text" name="eviNum"/>
                        </li>
                        <li>
                            物证名称：<input type="text" name="eviName"/>
                        </li>
                        <li>
                            <input type="text" name="createTime" class="time-input" placeholder="委托时间"/>
                        </li>
                        <li>
                            审核状态：<input type="text" name="auditStatus"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:evidenceAudit:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:evidenceAudit:remove')}]];
    var datas = [[${@dict.getType('sys_evi_status')}]];
    var prefix = ctx + "system/evidenceAudit";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "物证审核",
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'auditId',
                    title: '委托编号',
                    visible: false
                },
                {
                    field: 'eviNum',
                    title: '物证编号',
                    sortable: true
                },
                {
                    field: 'eviName',
                    title: '物证名称',
                    sortable: true
                },
                {
                    field: 'eviUser',
                    title: '勘查人员',
                    sortable: true
                },
                {
                    field: 'caseName',
                    title: '案件名称',
                    sortable: true
                },
                {
                    field: 'eviCount',
                    title: '物证个数',
                    sortable: true
                },
                {
                    field: 'createTime',
                    title: '委托时间',
                    sortable: true
                },

                {
                    field: 'eviDesc',
                    title: '物证描述',
                    sortable: true
                },
                {
                    field: 'auditStatus',
                    title: '审批状态',
                    sortable: true,
                    formatter: function(value, item, index) {
                        return $.table.selectDictLabel(datas, item.auditStatus);
                    }
                },
                {
                    field: 'auditUser',
                    title: '提审员',
                    sortable: true
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="$.operate.edit(\'' + row.auditId + '\')"><i class="fa fa-edit"></i>提交审批</a> ');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });
</script>
</body>
</html>
